/* Background color for the entire page */
/* body {
    background-color: slategray;
} */

/* Sticky Footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    /* padding: 55px;            */
}

.blk {
    color: black;
}

.col-lg-5 {
    margin-bottom: 35px;
}

.projects {
    background-color: rgb(155, 155, 155); 
}